/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radio{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid rgb(156, 155, 155);
    position: relative;

    appearance: none; 
   -webkit-appearance: none;
    background-color: #ffffff;
    cursor: pointer;
}

/* Custom color when selected */
.radio:checked {
    border-color: #3cb4ac;
  }

  .radio:checked::before {
    content: '';
    display: block;
    width: 9px; /* Size of the inner circle (smaller than outer circle) */
    height: 9px;
    background-color: #3cb4ac; /* Inner circle color */
    border-radius: 5px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  /* Create an inner circle for the checked radio */
  .radio:checked::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background-color: #f2f3f2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .active {
    border: 2px solid #147b74;
  }

  .bookmarked {
    color: #147b74;
    transition: color 0.3;
  }

  .pledge-amount:focus {
    border: 1px solid #3cb4ac;
    outline: none;
  }